<div class="container" ng-controller='BrandsCtrl'>
  <div class="row">
    <div class="span4 offset4">
    </div>
  </div>

  <div id="no-actions-container"></div>

  <div class="row">
    <div id="my-brands" class="span12">
      <div class="row">
        <div class="span8">
          <h3>
            My Brands
            <small><span class="brands-count">{{ brands.length }}</span> Brands | <span class="actions-count">{{ brands.totalActions() }}</span> Actions</small>
          </h3>
        </div>
        <div class="span4">
          <label for="hide-empty-brands">
            <input type="checkbox" id="hide-empty-brands" checked="checked" ng-click="show = !show">
            Only show brands with actions
          </label>
        </div>
      </div>
      <hr>
      <div class="row brands-grid">
        <div ng-include="'views/brand.html'" ng-repeat="brand in brands" ng-show="show || brand.actions_count > 0 "></div>
        <div class="min-height-placeholder"></div>
      </div>
    </div>
  </div>

  <div class="row">
    <div id="new-brands" class="span12">
      <h3>
        New Brands
        <small><span class="brands-count">-</span> Brands | <span class="actions-count">-</span> Actions</small>
      </h3>
      <hr>
      <div class="row brands-grid">
        <div class="min-height-placeholder"></div>
      </div>
    </div>
  </div>
</div>

<!-- Action notification tipsy tooltips -->
<p id="action-count-tooltip-new" style="display:none">New</p>
<p id="action-count-tooltip-in-progress" style="display:none">In progress</p>
<p id="action-count-tooltip-expiring" style="display:none">Expiring</p>
