body {
  background: url('crowdtap.portal/images/right-bg-pattern.png') fixed;
  padding-top: @navbarHeight;
}

hr {
  border-top: 1px solid #999;
  border-bottom: none;
  height: 0px;
  margin: 0px;
  margin-bottom: 10px;
}
